@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

/* 
  - Primary Color: #272b34
  - Secondary Color: #363a45
  - Primary Text Color: #fff
  - Secondary Text Color: #959cae
  - Accent Color: #ff4b4c
*/

:root {
  /* Variables */
  --primary-color: #212838;
  --secondary-color: #37435e;
  --primary-text-color: #daebff;
  --accent-color: #4b9fff;

  background-color: var(--primary-color);
  font-size: 62.5%;
  user-select: none;
}

/* *Resets */
* {
  box-sizing: border-box;
  line-height: 1.4;
  font-family: 'Readex Pro', sans-serif;

  margin: 0;
  padding: 0;

  color: var(--primary-text-color);
}

/* *Defaults */
h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  color: var(--accent-color);
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/* *Utilities */
.container {
  width: 100vw;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* *Buttons */

.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid var(--accent-color);
  border-radius: 3rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: var(--accent-color);
  background-color: var(--secondary-color);
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(75, 159, 255, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* *Global */
footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;

  background-color: var(--secondary-color);
  height: auto;
  width: 100vw;
}

.footer-content {
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem 0;
}

.important {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 5rem;

  padding: 2rem;
  border: 0.1rem solid var(--accent-color);
  border-radius: 1.5rem;
  background-color: var(--secondary-color);
}
