.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid var(--accent-color);
  background-color: var(--secondary-color);
}

.choice-container:hover {
  cursor: pointer;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: var(--accent-color);
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}
